In [1]:
#List Comprehenssion(Iterators)
#Tuple Comprehenssion(Generators)

#Iterators------>hand to hand output
#Generators----->Lazy Evaluation

#tuple com. zip, map

In [2]:
l1=[1,2,3,4,5]
l2=[6,7,8,9,10]

In [3]:
l1+l2

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
x=zip(l1,l2)#Lazy Evaluator

In [5]:
x

In [6]:
x.__sizeof__()

40

In [7]:
print(*x)

(1, 6) (2, 7) (3, 8) (4, 9) (5, 10)

In [8]:
l3=[11,12,13,14,15]

In [9]:
print(*zip(l1,l2,l3))

(1, 6, 11) (2, 7, 12) (3, 8, 13) (4, 9, 14) (5, 10, 15)

In [10]:
l1

[1, 2, 3, 4, 5]

In [11]:
l2

[6, 7, 8, 9, 10]

In [13]:
x=zip(l1,l2,l3)
for i in x:
    print(sum(i))

18
21
24
27
30

In [14]:
l1

[1, 2, 3, 4, 5]

In [15]:
l2

[6, 7, 8, 9, 10]

In [16]:
l3=[]
for i in zip(l1,l2):
    l3.append(sum(i))

In [17]:
l3

[7, 9, 11, 13, 15]

In [18]:
l1

[1, 2, 3, 4, 5]

In [19]:
l2=[6,7]

In [20]:
print(*zip(l1,l2))

(1, 6) (2, 7)

In [25]:
l1=[i for i in range(2,21,2)]
l2=[i for i in range(5,51,5)]
l3=[i for i in range(10,101,10)]
l4=[i for i in range(20,201,20)]

In [27]:
for a,b,c,d in zip(l1,l2,l3,l4):
    print(a,b,c,d,sep='\t')

2	5	10	20
4	10	20	40
6	15	30	60
8	20	40	80
10	25	50	100
12	30	60	120
14	35	70	140
16	40	80	160
18	45	90	180
20	50	100	200

In [32]:
d={'Name':'Samyak','Course':'DS'}

In [33]:
d.keys()

dict_keys(['Name', 'Course'])

In [34]:
d.values()

dict_values(['Samyak', 'DS'])

In [35]:
d.items()

dict_items([('Name', 'Samyak'), ('Course', 'DS')])

In [37]:
for i,j in d.items():
    print(i,j)

Name Samyak
Course DS

In [38]:
for i,j in zip(d.keys(),d.values()):
    print(f'{i}---->{j}')

Name---->Samyak
Course---->DS

<h2 style='color:darkgreen'>. Lambda</h2>

In [39]:
#Expression----->

In [40]:
def sq(x):
    return x**2

In [41]:
def sq(x,y):
    return x**2+y**2

In [42]:
#function_name = lambda   arguments   :  return sequences

In [46]:
sq1 = lambda x,y : x**2+y**2

In [47]:
sq1(3,4)

25

In [48]:
even= lambda x : True if x%2==0 else False

In [49]:
even(45)

False

In [50]:
even(90)

True

In [51]:
even_odd = lambda x : 'Even' if x%2==0 else 'Odd'

In [52]:
even_odd(34)

'Even'

In [53]:
even_odd(67)

'Odd'

In [54]:
greater=lambda x,y: x if x>y else y

In [55]:
greater(4,5)

5

In [57]:
greater(5,4)

5

In [58]:
three = lambda x,y,z : x if x>y and x>z else y if y>z else z

In [59]:
three(7,8,9)

9

In [60]:
three(3,4,2)

4

In [62]:
three(9,4,2)

9

In [65]:
prime=lambda x,start=2 : False if x%start==0 else True if start==x//2+1 else prime(x,start+1)

In [66]:
prime(121)

False

In [67]:
prime(127)

True

In [68]:
count=0
for i in range(100,1000):
    if prime(i):
        print(i)
        count+=1

101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [69]:
print(count)

143

In [70]:
x,y,z,p=[1,2,3,4]

In [71]:
x

1

In [72]:
y

2

In [73]:
z

3

In [74]:
p

4

In [75]:
x,y,z,p=input().split()

1 2 3 4

In [76]:
x

'1'

In [77]:
y

'2'

In [78]:
z

'3'

In [79]:
p

'4'

In [80]:
x,y,z,p=int(input().split())

1 2 3 4

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [81]:
#map(function,sequence)

In [83]:
map(int,['1','2','3','4'])#Lazy Evaluator

In [84]:
l=list(map(int,['1','2','3','4']))

In [85]:
l

[1, 2, 3, 4]

In [86]:
x,y,z,p=list(map(int,input().split()))

5 6 7 8

In [87]:
x

5

In [88]:
type(x)

int

In [89]:
x=input().split()

1 2 3 4 5 6

In [90]:
x

['1', '2', '3', '4', '5', '6']

In [91]:
x.sort()

In [92]:
x

['1', '2', '3', '4', '5', '6']

In [93]:
x.sort(reverse=True)

In [94]:
x

['6', '5', '4', '3', '2', '1']

In [96]:
int(''.join(x))

654321

In [97]:
l=list(map(float,[1,2,3,4,5,6]))

In [98]:
l

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0]

In [100]:
l=list(map(islower,['sam','python','DS']))

NameError: name 'islower' is not defined

In [104]:
def islower(s):
    if s.islower():
        return True
    else:
        return False

In [105]:
l=list(map(islower,['samyak','DS','Python','html']))

In [106]:
l

[True, False, False, True]

In [107]:
def square(x,y):
    return x+y

In [108]:
l1=[i for i in range(10) if i%2==0]
l2=[i for i in range(10) if i%2!=0]
l3=list(map(square,l1,l2))

In [109]:
l3

[1, 5, 9, 13, 17]

In [110]:
l1

[0, 2, 4, 6, 8]

In [111]:
l2

[1, 3, 5, 7, 9]

In [112]:
l3=list(map(square,l1))

TypeError: square() missing 1 required positional argument: 'y'

In [113]:
l=list(map(lambda x: 'Even' if x%2==0 else "Odd",[i for i in range(21)]))

In [114]:
l

['Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even',
 'Odd',
 'Even']

In [115]:
import random

In [116]:
l=[random.randint(30,60) for i in range(20)]

In [117]:
l.sort()

In [118]:
l

[32,
 32,
 36,
 39,
 40,
 42,
 46,
 47,
 49,
 50,
 51,
 52,
 53,
 54,
 54,
 55,
 58,
 58,
 60,
 60]

In [119]:
l=[random.randint(30,60) for i in range(20)]

In [121]:
print(*sorted(l))

32 37 40 42 43 43 45 46 46 46 50 50 51 53 54 54 56 58 59 60

In [122]:
l=[['Samyak',98],
   ['Sachin',87],
   ['Rajat',100],
  ]

In [123]:
sorted(l)

[['Rajat', 100], ['Sachin', 87], ['Samyak', 98]]

In [124]:
sorted(l,key=lambda x :x[1])

[['Sachin', 87], ['Samyak', 98], ['Rajat', 100]]

In [125]:
l.sort(key=lambda x : x[1])

In [126]:
l

[['Sachin', 87], ['Samyak', 98], ['Rajat', 100]]

In [128]:
l=list(map(lambda x,y:x**2+y**2,[1,2,3,4],[1,2,3,4]))

In [129]:
l

[2, 8, 18, 32]

In [163]:
def even(x):
    if x%2==0:
        return x
    else:
        return False

In [164]:
l=list(map(even,[i for i  in range(10)]))

In [165]:
l

[0, False, 2, False, 4, False, 6, False, 8, False]

In [166]:
l1=list(filter(even,[i for i in range(10)]))

In [167]:
l1

[2, 4, 6, 8]

In [171]:
def leap(x):
    if x%4==0:
        return x

In [172]:
l=list(map(leap,[i for i in range(2000,2030)]))

In [173]:
l

[2000,
 None,
 None,
 None,
 2004,
 None,
 None,
 None,
 2008,
 None,
 None,
 None,
 2012,
 None,
 None,
 None,
 2016,
 None,
 None,
 None,
 2020,
 None,
 None,
 None,
 2024,
 None,
 None,
 None,
 2028,
 None]

In [174]:
l=list(filter(leap,[i for i in range(2000,2030)]))

In [175]:
l

[2000, 2004, 2008, 2012, 2016, 2020, 2024, 2028]

In [176]:
l1=[1,2,4,4,5,5,6,7,8,]

In [177]:
l2=[4,5,6,7,12,9,9,0,0,7,65]

In [178]:
print(*zip(l1,l2))

(1, 4) (2, 5) (4, 6) (4, 7) (5, 12) (5, 9) (6, 9) (7, 0) (8, 0)

In [179]:
for i,j in zip(l1,l2):
    print(i*j)

4
10
24
28
60
45
54
0
0

In [180]:
def sq(x,y):
    return x+y

In [181]:
l=list(map(sq,[1,2,3,4],[1,2,3,4]))

In [182]:
l

[2, 4, 6, 8]

In [183]:
l=list(map(sq,[1,2,3,4]))

TypeError: sq() missing 1 required positional argument: 'y'

In [184]:
from functools import reduce

In [186]:
reduce(sq,[1,2,3,4])#Iterator

10

In [192]:
def sqq(x,y):
    return x**2+y**2

In [193]:
reduce(sqq,[1,2,3,4])

1172

In [194]:
1**2+2**2

5

In [197]:
5**2+3**2

34

In [199]:
34**2+4**2

1172

In [200]:
def function():
    function()

In [ ]:
function()

In [1]:
def hello(name,s=1):
    if s==11:
        return
    else:
        print(name)
        hello(name,s+1)

In [2]:
hello('python')

python
python
python
python
python
python
python
python
python
python

In [76]:
%%writefile bank.py
d={1001:{'Name':'Sachin','Bal':10000,'Pwd':'redhat@123'},
   1002:{'Name':'Samyak','Bal':20000,'Pwd':'redhat'},
   1003:{'Name':'Rajat','Bal':30000,'Pwd':'1234'}}

last_account=1003
from getpass import getpass
def main_menu():
    s='''1.Signup\n2.Login\n3.Exit'''
    print(s)
    ch=int(input('Enter Choice between 1 to 3:  '))
    if ch==1:
        signup()
    elif ch==2:
        login()
    else:
        exit()
def exit():
    print('\n')
    print('Thanks for using our service...........)')
    print('...............Exiciting................')
def signup():
    print('\n')
    print('Now you are at signup page')
    global d,last_account
    reg={'Name':input('Enter your Name'),'Bal':int(input('Enter Balance')),'Pwd':getpass('Enter Password')}
    last_account+=1
    d[last_account]=reg
    print('Account Created Successfully')
    print('Now you can login')
    print('Your Account Number is: ',last_account)
    main_menu()
def login():
    print('\n')
    print('Now you are at login page')
    acc=int(input('Enter Account Number'))
    if acc in d:
        pwd=getpass('Enter Password')
        if pwd==d[acc]['Pwd']:
            print('Login Successfully')
            print(f"Hello {d[acc]['Name']}")
            main_menu()
        else:
            print('Invalid Password')
            login()
    else:
        print('Account not exist')
        print('Please do signup before login')          
        main_menu()

Writing bank.py

In [32]:
main_menu()

1.Signup
2.Login
3.Exit
Enter Choice between 1 to 3:  2


Now you are at login page
Enter Account Number1002
Enter Password········
Invalid Password


Now you are at login page
Enter Account Number1005
Account not exist
Please do signup before login


Now you are at signup page
Enter your NameSimran
Enter Balance34000
Enter Password········
Account Created Successfully
Now you can login
Your Account Number is:  1005
1.Signup
2.Login
3.Exit
Enter Choice between 1 to 3:  3


Thanks for using our service...........)
...............Exiciting................

In [33]:
import time

In [34]:
time.time()

1590397750.1866894

In [35]:
c=time.time()

In [36]:
c

1590397765.1518445

In [38]:
print(f"Seconds:---->{c}")
print()
print(f"Minutes:---->{c/60}")
print()
print(f"Hours:------>{c/60/60}")
print()
print(f"Days:------->{c/60/60/24}")
print()
print(f"Years:------>{c/60/60/24/365}")

Seconds:---->1590397765.1518445

Minutes:---->26506629.419197407

Hours:------>441777.1569866234

Days:------->18407.38154110931

Years:------>50.43118230440906

In [39]:
time.ctime()

'Mon May 25 14:42:17 2020'

In [40]:
time.ctime()

'Mon May 25 14:42:36 2020'

In [41]:
time.strftime('%d')

'25'

In [42]:
time.strftime('%m')

'05'

In [43]:
time.strftime('%y')

'20'

In [44]:
time.strftime('%Y')

'2020'

In [45]:
time.strftime('%a')

'Mon'

In [46]:
time.strftime('%A')

'Monday'

In [48]:
time.strftime('%p')

'PM'

In [49]:
time.strftime('%P')

ValueError: Invalid format string

In [50]:
time.strftime('%H')

'14'

In [51]:
time.strftime('%M')

'44'

In [52]:
time.strftime('%S')

'13'

In [53]:
time.strftime('%d/%m/%Y')

'25/05/2020'

In [54]:
time.strftime('%d-%m-%Y')

'25-05-2020'

In [56]:

time.ctime()

'Mon May 25 14:45:01 2020'

In [60]:
time.strftime('%a %b %d %H:%M:%S %Y')

'Mon May 25 14:46:48 2020'

In [59]:
time.strftime('%b')

'May'

In [62]:
time.strftime('%B')

'May'

In [63]:
import math

In [64]:
math.sqrt(121)

11.0

In [65]:
math.sqrt(45)

6.708203932499369

In [66]:
math.ceil(12.3)

13

In [67]:
math.floor(12.3)

12

In [70]:
math.pi

3.141592653589793

In [71]:
math.sin(90)

0.8939966636005579

In [72]:
math.sinh(90)

6.102016471589204e+38

In [73]:
math.tan(45)

1.6197751905438615

In [74]:
5+6

11

In [75]:
(5).__add__(6)

11