In [2]:
d={'Name':'Sachin','Course':"DS"}

In [3]:
#Mutable,3.7--->ordered ,
#Iterable Data Type

In [4]:
id(d)

267479567600

In [5]:
l=[i for i in range(1,10)]

In [6]:
print(*l)

1 2 3 4 5 6 7 8 9

In [7]:
l=[]
for i in range(1,10):
    l.append(i)

In [8]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
l=[i for i in range(10)]

In [10]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
l1=[i for i in l]

In [12]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
l1=[i for i in range(1,21) if i%2==0]

In [14]:
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
l2=[]
for i in range(1,21):
    if i%2==0:
        l2.append(i)

In [16]:
l2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
id(d)

267479567600

In [18]:
d

{'Name': 'Sachin', 'Course': 'DS'}

In [19]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [20]:
x=5

In [21]:
'hello'.islower()

True

In [22]:
'Hello'.islower()

False

In [25]:
l=[i for i in dir(dict) if i[0].islower()]

In [26]:
print(*l)

clear copy fromkeys get items keys pop popitem setdefault update values

In [27]:
l=[]
for i in range(10):
    l.append(i)

In [28]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
l=[i for i in range(10)]

In [30]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
l=[i for i in range(10) if i%2==0]

In [32]:
l

[0, 2, 4, 6, 8]

In [33]:
l=[i*i for i in range(1,11)]

In [34]:
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
for i in range(10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [36]:
l=['hello' for i in range(1,11)]

In [37]:
l

['hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello']

In [38]:
'_'.islower()

False

In [39]:
d

{'Name': 'Sachin', 'Course': 'DS'}

In [40]:
d['Name']

'Sachin'

In [41]:
d[0]

KeyError: 0

In [42]:
d['Course']

'DS'

In [43]:
d['Color']

KeyError: 'Color'

In [44]:
d['Color']='Fair'

In [45]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Color': 'Fair'}

In [46]:
d['Color']

'Fair'

In [47]:
id(d)

267479567600

In [48]:
d.get('Color')

'Fair'

In [49]:
d.get('Course')

'DS'

In [50]:
d.get('Age')

In [51]:
d.get('Age',20)

20

In [52]:
d.get('Age',"not available")

'not available'

In [53]:
d['Age']=24

In [54]:
d.get('Age',"not avialable")

24

In [55]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Color': 'Fair', 'Age': 24}

In [56]:
d['Name']

'Sachin'

In [57]:
d['Course']

'DS'

In [58]:
d.get('Color')

'Fair'

In [59]:
d.get('Age')

24

In [60]:
d['Mno']

KeyError: 'Mno'

In [61]:
d.get('Mno')

In [62]:
d.get('Mno','Not Avialable')

'Not Avialable'

In [63]:
d['Mno']=967372567

In [64]:
d

{'Name': 'Sachin',
 'Course': 'DS',
 'Color': 'Fair',
 'Age': 24,
 'Mno': 967372567}

In [65]:
d['Mno']

967372567

In [66]:
d.get('Mno')

967372567

In [67]:
d.get('Mno','Not Avaialble')

967372567

In [68]:
d

{'Name': 'Sachin',
 'Course': 'DS',
 'Color': 'Fair',
 'Age': 24,
 'Mno': 967372567}

In [69]:
d.keys()

dict_keys(['Name', 'Course', 'Color', 'Age', 'Mno'])

In [70]:
d.values()

dict_values(['Sachin', 'DS', 'Fair', 24, 967372567])

In [71]:
for i in d.keys():
    print(i)

Name
Course
Color
Age
Mno

In [73]:
for i in d.values():
    print(i)

Sachin
DS
Fair
24
967372567

d.items()

In [75]:
d.items()

dict_items([('Name', 'Sachin'), ('Course', 'DS'), ('Color', 'Fair'), ('Age', 24), ('Mno', 967372567)])

In [76]:
for i in d.items():
    print(i)

('Name', 'Sachin')
('Course', 'DS')
('Color', 'Fair')
('Age', 24)
('Mno', 967372567)

In [77]:
for i in d:
    print(i)

Name
Course
Color
Age
Mno

In [78]:
for i in d:
    print('hello wolrd')

hello wolrd
hello wolrd
hello wolrd
hello wolrd
hello wolrd

In [79]:
d['Name']

'Sachin'

In [80]:
d['Course']

'DS'

In [81]:
d['Color']

'Fair'

In [82]:
d['Age']

24

In [85]:
for i in d:
    print(d[i])

Sachin
DS
Fair
24
967372567

d['Name']
d['Course']

In [86]:
for i in d:
    print(i)

Name
Course
Color
Age
Mno

In [87]:
for i in d.values():
    print(i)

Sachin
DS
Fair
24
967372567

In [88]:
for i in d:
    print(d[i])

Sachin
DS
Fair
24
967372567

In [89]:
d['Name']

'Sachin'

In [90]:
d['Color']

'Fair'

In [91]:
d['Age']

24

In [92]:
d['Mno']

967372567

In [93]:
x=10

In [94]:
print(f'value of x is {x}')

value of x is 10

In [95]:
for i in d:
    print(f"{i}---->{d[i]}")

Name---->Sachin
Course---->DS
Color---->Fair
Age---->24
Mno---->967372567

In [96]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [97]:
d

{'Name': 'Sachin',
 'Course': 'DS',
 'Color': 'Fair',
 'Age': 24,
 'Mno': 967372567}

In [98]:
id(d)

267479567600

In [99]:
d.pop('Mno')

967372567

In [100]:
d.pop('Mno')

KeyError: 'Mno'

In [101]:
d.pop('Mno','hello')

'hello'

In [102]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Color': 'Fair', 'Age': 24}

In [103]:
d.popitem()

('Age', 24)

In [104]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Color': 'Fair'}

In [105]:
print(type(d.popitem()))

<class 'tuple'>

In [106]:
print(type(d.keys()))

<class 'dict_keys'>

In [107]:
d.keys()

dict_keys(['Name', 'Course'])

In [108]:
d

{'Name': 'Sachin', 'Course': 'DS'}

In [109]:
d1=d.copy()

In [110]:
d1

{'Name': 'Sachin', 'Course': 'DS'}

In [111]:
d

{'Name': 'Sachin', 'Course': 'DS'}

In [112]:
id(d)

267479567600

In [113]:
id(d1)

267484281520

In [114]:
d.clear()

In [115]:
d1

{'Name': 'Sachin', 'Course': 'DS'}

In [116]:
d1

{'Name': 'Sachin', 'Course': 'DS'}

In [117]:
d2=d1

In [118]:
id(d1)

267484281520

In [119]:
id(d2)

267484281520

In [121]:
d1.clear()

##

In [122]:
d2

{}

In [123]:
d1

{}

In [124]:
d={'Name':'Sachin','Course':'DS'}

In [125]:
d.setdefault('Age',24)

24

In [126]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24}

In [127]:
d.setdefault('Age',22)

24

In [128]:
d.update(Color='Fair')

In [129]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24, 'Color': 'Fair'}

In [130]:
d.update(Color='Red')

In [131]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24, 'Color': 'Red'}

In [132]:
print(5)

5

In [133]:
x=print(5)

5

In [134]:
print(x)

None

In [135]:
l=[1,2,3,]

In [136]:
l.append(5)

In [137]:
l

[1, 2, 3, 5]

In [138]:
l.insert(1,2)

In [139]:
l

[1, 2, 2, 3, 5]

In [140]:
l.extend([1,2,3,4])

In [141]:
l

[1, 2, 2, 3, 5, 1, 2, 3, 4]

In [142]:
l.pop()

4

In [143]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Age': 24, 'Color': 'Red'}

In [145]:
d={}

In [146]:
d.fromkeys('AB')

{'A': None, 'B': None}

In [147]:
d.fromkeys('AB',1)

{'A': 1, 'B': 1}

In [148]:
d.fromkeys('AB',"CD")

{'A': 'CD', 'B': 'CD'}

In [149]:
d.fromkeys(['A','B','C','D','E'],[1,2,3,4,5])

{'A': [1, 2, 3, 4, 5],
 'B': [1, 2, 3, 4, 5],
 'C': [1, 2, 3, 4, 5],
 'D': [1, 2, 3, 4, 5],
 'E': [1, 2, 3, 4, 5]}

In [150]:
d.fromkeys(['A','B','C','D','E'])

{'A': None, 'B': None, 'C': None, 'D': None, 'E': None}

In [151]:
l=[1,2,3,4,5]

In [152]:
l1=[6,7,8,9,10]

In [153]:
x=zip(l,l1)

In [154]:
print(*x)

(1, 6) (2, 7) (3, 8) (4, 9) (5, 10)

In [155]:
l=[1,2,4,4,5,6,7,]

In [156]:
l1=[1,2,3,5]

In [157]:
print(*zip(l,l1))

(1, 1) (2, 2) (4, 3) (4, 5)

In [158]:
for i in zip(l,l1):
    print(i)

(1, 1)
(2, 2)
(4, 3)
(4, 5)

In [159]:
for i,j in zip(l,l1):
    print(f"{i}--->{j}")

1--->1
2--->2
4--->3
4--->5

In [160]:
d

{}

In [161]:
d={'Name':'Sachin','Course':'DS','Age':24}

In [162]:
d.keys()

dict_keys(['Name', 'Course', 'Age'])

In [163]:
d.values()

dict_values(['Sachin', 'DS', 24])

In [164]:
d.items()

dict_items([('Name', 'Sachin'), ('Course', 'DS'), ('Age', 24)])

In [165]:
for i in zip(d.keys(),d.values()):
    print(i)

('Name', 'Sachin')
('Course', 'DS')
('Age', 24)

In [166]:
for key,value in zip(d.keys(),d.values()):
    print(f"{key}--->{value}")

Name--->Sachin
Course--->DS
Age--->24

In [167]:
l1=[i for i in range(2,21,2)]
l2=[i for i in range(5,51,5)]
l3=[i for i in range(10,101,10)]

In [169]:
for a,b,c in zip(l1,l2,l3):
    print(a,b,c,sep='\t',end='\n\n')

2	5	10

4	10	20

6	15	30

8	20	40

10	25	50

12	30	60

14	35	70

16	40	80

18	45	90

20	50	100

In [170]:
d={1001:'A',1002:'B',1003:'C'}

In [171]:
d[1001]

'A'

In [172]:
d[1002]

'B'

In [173]:
d[1003]

'C'

In [174]:
for i in d:
    print(i)

1001
1002
1003

In [175]:
for i in d.values():
    print(i)

A
B
C

In [176]:
for i in d.keys():
    print(d[i])

A
B
C

In [177]:
d

{1001: 'A', 1002: 'B', 1003: 'C'}

In [179]:
d={1001: {'Name':'Samyak','Bal':10000,'Pwd':'redhat@123'}, 
   1002: {'Name':'Sachin','Bal':20000,'Pwd':'redhat'}, 
   1003: {'Name':'Rajat','Bal':30000,'Pwd':'1234'}
  }

In [180]:
d[1001]

{'Name': 'Samyak', 'Bal': 10000, 'Pwd': 'redhat@123'}

In [181]:
d[1002]

{'Name': 'Sachin', 'Bal': 20000, 'Pwd': 'redhat'}

In [182]:
d[1003]

{'Name': 'Rajat', 'Bal': 30000, 'Pwd': '1234'}

In [183]:
for i in d:
    print(d[i])

{'Name': 'Samyak', 'Bal': 10000, 'Pwd': 'redhat@123'}
{'Name': 'Sachin', 'Bal': 20000, 'Pwd': 'redhat'}
{'Name': 'Rajat', 'Bal': 30000, 'Pwd': '1234'}

In [184]:
d['Name']

KeyError: 'Name'

In [185]:
d[1001]['Name']

'Samyak'

In [186]:
d[1002]['Name']

'Sachin'

In [187]:
d[1003]['Name']

'Rajat'

In [189]:
for i in d:
    print(d[i]['Name'])

Samyak
Sachin
Rajat

In [190]:
for i in d:
    print(d[i]['Bal'])

10000
20000
30000

In [191]:
for i in d:
    print(d[i]['Pwd'])

redhat@123
redhat
1234

In [192]:
acc=int(input('Enter Account Number'))

if acc in d:
    pwd=input('Enter Password')
    if pwd==d[acc]['Pwd']:
        print('Success')
    else:
        print('Invalid Password')
else:
    print('Account not Exist')

Enter Account Number1001
Enter Passwordredhat@123
Success

In [193]:
acc=int(input('Enter Account Number'))

if acc in d:
    pwd=input('Enter Password')
    if pwd==d[acc]['Pwd']:
        print('Success')
    else:
        print('Invalid Password')
else:
    print('Account not Exist')

Enter Account Number1002
Enter Passworddxfcvghbmlk
Invalid Password

In [194]:
acc=int(input('Enter Account Number'))

if acc in d:
    pwd=input('Enter Password')
    if pwd==d[acc]['Pwd']:
        print('Success')
    else:
        print('Invalid Password')
else:
    print('Account not Exist')

Enter Account Number1004
Account not Exist

In [197]:
d={1001:{'Name':input('Enter Train Name'),'Source':input('Enter Source'),'Dest':input('Enter Destination'),'Stopage':input('Enter Stopage Seprated by comma').split(',')},
  1002:{'Name':input('Enter Train Name'),'Source':input('Enter Source'),'Dest':input('Enter Destination'),'Stopage':input('Enter Stopage Seprated by comma').split(',')},
  1003:{'Name':input('Enter Train Name'),'Source':input('Enter Source'),'Dest':input('Enter Destination'),'Stopage':input('Enter Stopage Seprated by comma').split(',')},
  }

Enter Train NameRajdhani Exp
Enter SourceDelhi
Enter DestinationMumbai
Enter Stopage Seprated by commaBharatpur,Kota,Ratlam,surat,vadodara
Enter Train NameJaipur Mumbai Express
Enter SourceJaipur
Enter DestinationMumbai
Enter Stopage Seprated by commaSMP,Kota,Nagda,Surat,Vadodara
Enter Train NameDelhi Jaipur Express
Enter SourceJaipur,Ajmer,Bharatpur
Enter DestinationDelhi
Enter Stopage Seprated by commaJaipur,Ajmer,Bharatpur

In [196]:
s='hello world to python'
s=s.split('O')[-1].split()
print(s[1])
print(type(s[1]))

world
<class 'str'>

In [198]:
d

{1001: {'Name': 'Rajdhani Exp',
  'Source': 'Delhi',
  'Dest': 'Mumbai',
  'Stopage': ['Bharatpur', 'Kota', 'Ratlam', 'surat', 'vadodara']},
 1002: {'Name': 'Jaipur Mumbai Express',
  'Source': 'Jaipur',
  'Dest': 'Mumbai',
  'Stopage': ['SMP', 'Kota', 'Nagda', 'Surat', 'Vadodara']},
 1003: {'Name': 'Delhi Jaipur Express',
  'Source': 'Jaipur,Ajmer,Bharatpur',
  'Dest': 'Delhi',
  'Stopage': ['Jaipur', 'Ajmer', 'Bharatpur']}}

In [204]:
d[1003]['Source']

'Jaipur'

In [205]:
d[1001]

{'Name': 'Rajdhani Exp',
 'Source': 'Delhi',
 'Dest': 'Mumbai',
 'Stopage': ['Bharatpur', 'Kota', 'Ratlam', 'surat', 'vadodara']}

In [206]:
d[1002]

{'Name': 'Jaipur Mumbai Express',
 'Source': 'Jaipur',
 'Dest': 'Mumbai',
 'Stopage': ['SMP', 'Kota', 'Nagda', 'Surat', 'Vadodara']}

In [207]:
d[1003]

{'Name': 'Delhi Jaipur Express',
 'Source': 'Jaipur',
 'Dest': 'Delhi',
 'Stopage': ['Jaipur', 'Ajmer', 'Bharatpur']}

In [208]:
for i in d:
    print(i)

1001
1002
1003

In [209]:
for i in d:
    print(d[i])

{'Name': 'Rajdhani Exp', 'Source': 'Delhi', 'Dest': 'Mumbai', 'Stopage': ['Bharatpur', 'Kota', 'Ratlam', 'surat', 'vadodara']}
{'Name': 'Jaipur Mumbai Express', 'Source': 'Jaipur', 'Dest': 'Mumbai', 'Stopage': ['SMP', 'Kota', 'Nagda', 'Surat', 'Vadodara']}
{'Name': 'Delhi Jaipur Express', 'Source': 'Jaipur', 'Dest': 'Delhi', 'Stopage': ['Jaipur', 'Ajmer', 'Bharatpur']}

In [210]:
for i in d:
    print(d[i]['Stopage'])

['Bharatpur', 'Kota', 'Ratlam', 'surat', 'vadodara']
['SMP', 'Kota', 'Nagda', 'Surat', 'Vadodara']
['Jaipur', 'Ajmer', 'Bharatpur']

In [212]:
for i in d:
    print(f"{'Stopage: '}{d[i]['Name']}---->{d[i]['Stopage']}")

Stopage: Rajdhani Exp---->['Bharatpur', 'Kota', 'Ratlam', 'surat', 'vadodara']
Stopage: Jaipur Mumbai Express---->['SMP', 'Kota', 'Nagda', 'Surat', 'Vadodara']
Stopage: Delhi Jaipur Express---->['Jaipur', 'Ajmer', 'Bharatpur']

<h1 style='color:blue'>Sets</h1>

Sets---> 1.It is collection of Immutable Objects.
         2.Iterable Data Type
         3.Not Subsrciptable
         4.Unordered Data type
         5.Collection of Unique Elements

In [213]:
s={1,2,3,4,5,5,5,6,6,7,8,8,}

In [214]:
s

{1, 2, 3, 4, 5, 6, 7, 8}

In [215]:
s=set((1,2,34,5,65,6,7,865,4,5,44,4,56,4))

In [216]:
s

{1, 2, 4, 5, 6, 7, 34, 44, 56, 65, 865}

In [217]:
id(s)

267486130696

In [218]:
l=[i for i in dir(set) if i[0].islower()]

In [221]:
print(*l,sep='\n')

add
clear
copy
difference
difference_update
discard
intersection
intersection_update
isdisjoint
issubset
issuperset
pop
remove
symmetric_difference
symmetric_difference_update
union
update

In [222]:
s.add()

TypeError: add() takes exactly one argument (0 given)

In [223]:
s.add(90)

In [224]:
s

{1, 2, 4, 5, 6, 7, 34, 44, 56, 65, 90, 865}

In [225]:
id(s)

267486130696

In [226]:
print(*s)

65 1 2 34 5 6 7 865 4 44 56 90

In [231]:
for i in s:
    print(i)

1
2
34
5
6
7
865
4
44
56
90

In [228]:
s.pop()

65

In [229]:
s

{1, 2, 4, 5, 6, 7, 34, 44, 56, 90, 865}

In [232]:
s.pop()

1

In [233]:
s.pop()

2

In [234]:
s.remove(865)

In [235]:
s

{4, 5, 6, 7, 34, 44, 56, 90}

In [236]:
s.discard(90)

In [237]:
s

{4, 5, 6, 7, 34, 44, 56}

In [238]:
s.remove(865)

KeyError: 865

In [239]:
d['color']

KeyError: 'color'

In [240]:
d.get('color')

In [241]:
s.discard(90)

In [242]:
s

{4, 5, 6, 7, 34, 44, 56}

In [243]:
s

{4, 5, 6, 7, 34, 44, 56}

In [244]:
s1={1,2,3,4,5}
s2={6,7,8,9,10,4,5}

In [245]:
s1.add(s2)

TypeError: unhashable type: 'set'

In [246]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [247]:
s1.intersection(s2)

{4, 5}

In [248]:
s1.difference(s2)

{1, 2, 3}

In [249]:
cri={'Samyak','Sachin','Rajat','Yadvndra'}
bad={'Nidhi','Simran','Rajat','Sachin'}

In [250]:
cri.union(bad)

{'Nidhi', 'Rajat', 'Sachin', 'Samyak', 'Simran', 'Yadvndra'}

In [251]:
cri.intersection(bad)

{'Rajat', 'Sachin'}

In [252]:
cri.difference(bad)

{'Samyak', 'Yadvndra'}

In [253]:
bad.difference(cri)

{'Nidhi', 'Simran'}

In [254]:
a=cri.union(bad)

In [255]:
b=cri.intersection(bad)

In [256]:
c=cri.difference(bad)

In [257]:
a

{'Nidhi', 'Rajat', 'Sachin', 'Samyak', 'Simran', 'Yadvndra'}

In [258]:
b

{'Rajat', 'Sachin'}

In [259]:
c

{'Samyak', 'Yadvndra'}

In [260]:
cri.update(bad)

In [261]:
cri

{'Nidhi', 'Rajat', 'Sachin', 'Samyak', 'Simran', 'Yadvndra'}

In [262]:
bad

{'Nidhi', 'Rajat', 'Sachin', 'Simran'}

In [263]:
cri.intersection_update(bad)

In [264]:
cri

{'Nidhi', 'Rajat', 'Sachin', 'Simran'}

In [265]:
bad

{'Nidhi', 'Rajat', 'Sachin', 'Simran'}

In [266]:
bad.pop()

'Simran'

In [267]:
bad.add('Anshul')

In [268]:
bad

{'Anshul', 'Nidhi', 'Rajat', 'Sachin'}

In [269]:
cri

{'Nidhi', 'Rajat', 'Sachin', 'Simran'}

In [270]:
bad.difference_update(cri)

In [271]:
bad

{'Anshul'}

In [272]:
s={1,2,3,4,5,6}

In [273]:
s1=s.copy()

In [274]:
s

{1, 2, 3, 4, 5, 6}

In [275]:
s1

{1, 2, 3, 4, 5, 6}

In [276]:
id(s)

267485033192

In [277]:
id(s1)

267485034312

In [278]:
s1.clear()

In [279]:
s

{1, 2, 3, 4, 5, 6}

In [280]:
s1={1,2,3,4,5,6,7,8,9,10}

In [281]:
s

{1, 2, 3, 4, 5, 6}

In [282]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [283]:
s.issubset(s1)

True

In [284]:
s1.issubset(s)

False

In [285]:
s1.issuperset(s)

True

In [286]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [287]:
s

{1, 2, 3, 4, 5, 6}

In [288]:
s.symmetric_difference(s1)

{7, 8, 9, 10}

In [293]:
s.add(13)

In [294]:
s

{1, 2, 3, 4, 5, 6, 7, 13}

In [295]:
s1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [296]:
s.difference(s1)

{13}

In [297]:
s1.difference(s)

{8, 9, 10}

In [298]:
s.symmetric_difference(s1)

{8, 9, 10, 13}

In [300]:
s1.symmetric_difference(s)

{8, 9, 10, 13}

In [301]:
s1.symmetric_difference_update(s2)

In [302]:
s1

{1, 2, 3}

In [303]:
s=frozenset((1,2,3,4))

In [304]:
s

frozenset({1, 2, 3, 4})

In [305]:
id(s)

267486131144

In [306]:
print(dir(frozenset))

['__and__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'copy', 'difference', 'intersection', 'isdisjoint', 'issubset', 'issuperset', 'symmetric_difference', 'union']

In [307]:
s1={1,2,3}

In [308]:
s2={4,5,6}

In [310]:
s1.isdisjoint(s2)

True