In [2]:
d={'Name':'Sachin','Course':"DS"}

In [3]:
#Mutable,3.7--->ordered ,
#Iterable Data Type

In [4]:
id(d)

267479567600

In [5]:
l=[i for i in range(1,10)]

In [6]:
print(*l)

1 2 3 4 5 6 7 8 9

In [7]:
l=[]
for i in range(1,10):
    l.append(i)

In [8]:
l

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
l=[i for i in range(10)]

In [10]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
l1=[i for i in l]

In [12]:
l1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
l1=[i for i in range(1,21) if i%2==0]

In [14]:
l1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
l2=[]
for i in range(1,21):
    if i%2==0:
        l2.append(i)

In [16]:
l2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
id(d)

267479567600

In [18]:
d

{'Name': 'Sachin', 'Course': 'DS'}

In [19]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [20]:
x=5

In [21]:
'hello'.islower()

True

In [22]:
'Hello'.islower()

False

In [25]:
l=[i for i in dir(dict) if i[0].islower()]

In [26]:
print(*l)

clear copy fromkeys get items keys pop popitem setdefault update values

In [27]:
l=[]
for i in range(10):
    l.append(i)

In [28]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [29]:
l=[i for i in range(10)]

In [30]:
l

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
l=[i for i in range(10) if i%2==0]

In [32]:
l

[0, 2, 4, 6, 8]

In [33]:
l=[i*i for i in range(1,11)]

In [34]:
l

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
for i in range(10):
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [36]:
l=['hello' for i in range(1,11)]

In [37]:
l

['hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello',
 'hello']

In [38]:
'_'.islower()

False

In [39]:
d

{'Name': 'Sachin', 'Course': 'DS'}

In [40]:
d['Name']

'Sachin'

In [41]:
d[0]

KeyError: 0

In [42]:
d['Course']

'DS'

In [43]:
d['Color']

KeyError: 'Color'

In [44]:
d['Color']='Fair'

In [45]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Color': 'Fair'}

In [46]:
d['Color']

'Fair'

In [47]:
id(d)

267479567600

In [48]:
d.get('Color')

'Fair'

In [49]:
d.get('Course')

'DS'

In [50]:
d.get('Age')

In [51]:
d.get('Age',20)

20

In [52]:
d.get('Age',"not available")

'not available'

In [53]:
d['Age']=24

In [54]:
d.get('Age',"not avialable")

24

In [55]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Color': 'Fair', 'Age': 24}

In [56]:
d['Name']

'Sachin'

In [57]:
d['Course']

'DS'

In [58]:
d.get('Color')

'Fair'

In [59]:
d.get('Age')

24

In [60]:
d['Mno']

KeyError: 'Mno'

In [61]:
d.get('Mno')

In [62]:
d.get('Mno','Not Avialable')

'Not Avialable'

In [63]:
d['Mno']=967372567

In [64]:
d

{'Name': 'Sachin',
 'Course': 'DS',
 'Color': 'Fair',
 'Age': 24,
 'Mno': 967372567}

In [65]:
d['Mno']

967372567

In [66]:
d.get('Mno')

967372567

In [67]:
d.get('Mno','Not Avaialble')

967372567

In [68]:
d

{'Name': 'Sachin',
 'Course': 'DS',
 'Color': 'Fair',
 'Age': 24,
 'Mno': 967372567}

In [69]:
d.keys()

dict_keys(['Name', 'Course', 'Color', 'Age', 'Mno'])

In [70]:
d.values()

dict_values(['Sachin', 'DS', 'Fair', 24, 967372567])

In [71]:
for i in d.keys():
    print(i)

Name
Course
Color
Age
Mno

In [73]:
for i in d.values():
    print(i)

Sachin
DS
Fair
24
967372567

d.items()

In [75]:
d.items()

dict_items([('Name', 'Sachin'), ('Course', 'DS'), ('Color', 'Fair'), ('Age', 24), ('Mno', 967372567)])

In [76]:
for i in d.items():
    print(i)

('Name', 'Sachin')
('Course', 'DS')
('Color', 'Fair')
('Age', 24)
('Mno', 967372567)

In [77]:
for i in d:
    print(i)

Name
Course
Color
Age
Mno

In [78]:
for i in d:
    print('hello wolrd')

hello wolrd
hello wolrd
hello wolrd
hello wolrd
hello wolrd

In [79]:
d['Name']

'Sachin'

In [80]:
d['Course']

'DS'

In [81]:
d['Color']

'Fair'

In [82]:
d['Age']

24

In [85]:
for i in d:
    print(d[i])

Sachin
DS
Fair
24
967372567

d['Name']
d['Course']

In [86]:
for i in d:
    print(i)

Name
Course
Color
Age
Mno

In [87]:
for i in d.values():
    print(i)

Sachin
DS
Fair
24
967372567

In [88]:
for i in d:
    print(d[i])

Sachin
DS
Fair
24
967372567

In [89]:
d['Name']

'Sachin'

In [90]:
d['Color']

'Fair'

In [91]:
d['Age']

24

In [92]:
d['Mno']

967372567

In [93]:
x=10

In [94]:
print(f'value of x is {x}')

value of x is 10

In [95]:
for i in d:
    print(f"{i}---->{d[i]}")

Name---->Sachin
Course---->DS
Color---->Fair
Age---->24
Mno---->967372567

In [96]:
print(dir(dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [97]:
d

{'Name': 'Sachin',
 'Course': 'DS',
 'Color': 'Fair',
 'Age': 24,
 'Mno': 967372567}

In [98]:
id(d)

267479567600

In [99]:
d.pop('Mno')

967372567

In [100]:
d.pop('Mno')

KeyError: 'Mno'

In [101]:
d.pop('Mno','hello')

'hello'

In [102]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Color': 'Fair', 'Age': 24}

In [103]:
d.popitem()

('Age', 24)

In [104]:
d

{'Name': 'Sachin', 'Course': 'DS', 'Color': 'Fair'}

In [105]:
print(type(d.popitem()))

<class 'tuple'>

In [106]:
print(type(d.keys()))

<class 'dict_keys'>

In [107]:
d.keys()

dict_keys(['Name', 'Course'])

In [108]:
d

{'Name': 'Sachin', 'Course': 'DS'}

In [109]:
d1=d.copy()

In [110]:
d1

{'Name': 'Sachin', 'Course': 'DS'}

In [111]:
d

{'Name': 'Sachin', 'Course': 'DS'}

In [112]:
id(d)

267479567600

In [113]:
id(d1)

267484281520

In [114]:
d.clear()

In [115]:
d1

{'Name': 'Sachin', 'Course': 'DS'}

In [116]:
d1

{'Name': 'Sachin', 'Course': 'DS'}

In [117]:
d2=d1

In [118]:
id(d1)

267484281520

In [119]:
id(d2)

267484281520

In [121]:
d1.clear()